head{
  background-color: #3d3d3d;
    font-family: 'Aref Ruqaa', serif;
}

body {
  background-color: #3d3d3d;
  font-family: 'Aref Ruqaa', serif;
}
.page-header {
  background-color: #3d3d3d;
  width: 100%;
  height: 220px;
  text-align: center;
  margin: 0 auto;

}

.circle {
	width: 200px;
	height: 200px;
  margin: 0 auto;
  margin-top: 10px;
	background: #d3d3d3;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 100px;
  text-align: center;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

.project-name {
  line-height: 185px;
  font-size:35px;
}

.links {
  position: relative;
  left:30%;
  top: 120px;

}

a {
  font-size: 25px;
  color: black;
  text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.group {
  text-align: center;
}

.sectionTitle {
  text-align: center;
  color: white;
  font-size: 30px;
}

#rectangleTwit {
  background-image: url("../imgs/twit.png");
}


#rectangleMine {
  background-image: url("../imgs/mines.png");
}


#rectangleEmail {
  background-image: url("../imgs/email.png");
}


#rectangleMusic {
  background-image: url("../imgs/music.png");
}


#rectangleBacon{
  background-image: url("../imgs/kevin.png");
}


#rectangleBrix{
  background-image: url("../imgs/bricks.png");
}

.rectangle:hover {
    background-color: #d3d3d3;
}

#rectangleLove{
  background-image: url("../imgs/love.svg");
}

.rectangle{
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  border: 2px solid black;
  margin-top: 75px;
  background-color: #F2F3F4;
  width: 280px;
  height: 290px;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
  display: inline-block;
  margin-left: 60px;
  margin-right: 60px;
  text-color: black;
  font-size: 25px;
}

.rectangleText{
  font-size: 15px;
  margin-top: 200px;
}
